<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://languagelearner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>languagelearner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LanguageLearner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LanguageLearner</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:languagelearner.database.windows.net,1433;Initial Catalog=LLDatabase;Persist Security Info=False;User ID=Witalia;Password=!ff#FHsD$FsdFgs;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LanguageLearnerWeb.Models.ApplicationDbContext, LanguageLearnerWeb" MigrationConfiguration="LanguageLearnerWeb.Migrations.AppContext.Configuration, LanguageLearnerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LanguageLearnerWebContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:languagelearner.database.windows.net,1433;Initial Catalog=LLDatabase;Persist Security Info=False;User ID=Witalia;Password=!ff#FHsD$FsdFgs;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LanguageLearnerWeb.Models.LanguageLearnerWebContext, LanguageLearnerWeb" MigrationConfiguration="LanguageLearnerWeb.Migrations.LLContext.Configuration, LanguageLearnerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:languagelearner.database.windows.net,1433;Initial Catalog=LLDatabase;Persist Security Info=False;User ID=Witalia;Password=!ff#FHsD$FsdFgs;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LanguageLearnerWebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:languagelearner.database.windows.net,1433;Initial Catalog=LLDatabase;Persist Security Info=False;User ID=Witalia;Password=!ff#FHsD$FsdFgs;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>